


<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">Страница руководств</h1>
  <p class="fs-5 text-body-secondary">На этой странице собраны руководства и разделены по типам буровых установок</p>
</div>


<div class="row">
    <div class="col-lg-4 my-2">
      <% if user_signed_in? %>
        <%= link_to "Добавить новое руководство", new_faq_path, class: "btn btn-success"  %>  
      <% end %>
    </div>
    <div class="col-lg-4 my-2">
    </div>
    <div class="col-lg-4 my-2">

          <div class="card-body">
            <%= render "faqs/partial/search_form" %>

          </div>

    </div>
</div>


<div class="accordion my-3" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        Общие
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
      <div class="accordion-body">
        <%= render "faqs/partial/list", faqs: @faqs.where(rig_id: 4)%>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        АРС-225
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        <%= render "faqs/partial/list", faqs: @faqs.where(rig_id: 5)%>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        АРС-250
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        <%= render "faqs/partial/list", faqs: @faqs.where(rig_id: 1)%>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
        Drillmec наземного исполнения
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <%= render "faqs/partial/list", faqs: @faqs.where(rig_id: 2)%>

      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
        Drillmec эшелонного исполнения
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
      <div class="accordion-body">
        <%= render "faqs/partial/list", faqs: @faqs.where(rig_id: 3)%>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
        Уралмаш 3Д-76/86
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
      <div class="accordion-body">
        <%= render "faqs/partial/list", faqs: @faqs.where(rig_id: 6)%>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
        ДЭЛ-150
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
      <div class="accordion-body">
        <%= render "faqs/partial/list", faqs: @faqs.where(rig_id: 7)%>
      </div>
    </div>
  </div>

</div>




