
<div class="container mt-5 ">
  <div class="row"> 
      <div class="col-lg-2">
      </div>

      <div class="col-lg-8 bg-white ">
          <!-- Post content-->
          <article >
              <!-- Post header-->
              <header class="mb-2">
                  <!-- Post title-->
                  <h1 class="fw-bolder mb-1"><%= @faq.title %></h1>
                  <!-- Post meta content-->
                  <div class="text-muted fst-italic mb-1">  Добавлено: <%= @faq.created_at %>,
                                                            Автор: <%= link_to "#{@faq.user.first_name} #{@faq.user.last_name}", user_path(@faq.user.id)  %>, 
                                                            Темы:    <% @faq.tags.pluck(:title).each do |tag|%>
                                                                      <span class="badge rounded-pill text-bg-primary">
                                                                        <%= tag %>
                                                                      </span>
                                                                    <% end %></div>
                  <div>
                    <h4><span class="badge bg-success"><%= @faq.rig.rig_type %></span></h4>
                  </div>
                  <!-- Post categories-->         
              </header>
              <!-- Post content-->
              <section class="mb-5 ">
                <%= @faq.body %>
                <div class="card-footer text-muted">
                  <div class="row justify-content-center align-items-center g-2">
                    <div class="col text-end">
                      <div class="btn-group" role="group" aria-label="Basic example">

                        <% if (@faq.user_id == current_user&.id) || current_user&.moderator_role? || current_user&.admin_role? %>
                           <%= link_to 'Изменить', edit_faq_path(@faq), method: :get, class: "btn btn-warning" %> 
                        <% end %>

                        <% if current_user&.admin_role? %>
                            <%= link_to "Удалить", faq_path(@faq),  'data-turbo-method': :delete,  data: { confirm: 'Are you sure?'}, class: "btn btn-danger"  %>                     
                        <% end %>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </section>
          </article>
      </div>

      <div class="col-lg-2">
      </div>


  </div>
</div>