
<div class="container mt-5 ">
  <div class="row">
      <div class="col-lg-8 bg-white ">
          <!-- Post content-->
          <article >
              <!-- Post header-->
              <header class="mb-2">
                  <!-- Post title-->
                  <h1 class="fw-bolder mb-1"><%= @faq.title %></h1>
                  <!-- Post meta content-->
                  <div class="text-muted fst-italic mb-1">Добавлен: <%= @faq.created_at %>, Автор: <%= link_to "#{@faq.user.first_name} #{@faq.user.last_name}", user_path(@faq.user.id)  %></div>
                  <div class="text-muted fst-italic mb-2"><%= @faq.rig.rig_type %></div>
                  <!-- Post categories-->         
              </header>
              <!-- Post content-->
              <section class="mb-5 ">
                <%= @faq.body %>
                <div class="card-footer text-muted">
                  <div class="row justify-content-center align-items-center g-2">
                    <div class="col text-end">
                      <div class="btn-group" role="group" aria-label="Basic example">
                          <% if user_signed_in? %>
                              <%= link_to 'Изменить', edit_faq_path(@faq), method: :get, class: "btn btn-warning" %> 
                          <% end %>
                              <%= link_to "Удалить", faq_path(@faq),  'data-turbo-method': :delete,  data: { confirm: 'Are you sure?'}, class: "btn btn-danger"  %>  
                      
                      </div>
                    </div>
                  </div>
                </div>
              </section>
          </article>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4">
          <!-- Search widget-->
          <div class="card shadow border border-1 rounded-0 mb-4">
              <div class="card-header border border-0">Search</div>
              <div class="card-body">
                  <div class="input-group">
                      <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                      <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                  </div>
              </div>
          </div>
          <!-- Categories widget-->
          <div class="card shadow rounded-0 border border-1 mb-4">
              <div class="card-header border border-light">Категории</div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-12">
                          <ul class="list-unstyled mb-0">
                                <% @faq.tags.each do |item| %>
                                    <li class="badge rounded-pill text-bg-primary">
                                    <%= item.title %>
                                    </li>
                                <% end %> 
                          </ul>
                      </div>

                  </div>
              </div>
          </div>


      </div>
  </div>
</div>