

<h1 class="text-center display-4">Книга <%= @faq.title %></h1>
  
  <div class="card">
  
    <div class="card-body">
      <h5 class="card-title">Название книги: <%= @faq.title %></h5>
      <p class="card-text">Описание: <%= sanitize @faq.body %></p>
    </div>

    <div class="card-footer text-muted">
      <div class="row justify-content-center align-items-center g-2">
        <div class="col"><p class="card-text">Добавлена: <%= @faq.created_at %></p></div>
        <div class="col"><p class="card-text">Автор: <%= @faq.user.first_name %> <%= @faq.user.last_name  %> </p></div>
      </div>
    </div>
  </div>