<h1 class="display-5 text-center mb-4">Редактирование профиля</h1>


<div class="row">

    <div class="col-3 col-sm-2">
    </div>

    <div class="col-12 col-sm-8">

      <p class="text-center">
        Внесите изменения при необходимости. Для подтверждения изменений в последнее поле введи свой текущий пароль.
      </p>


      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>


         <div class="mb-3 ">
          <div class="form-floating">
            <%= f.text_field :first_name, placeholder: "Имя", autofocus: true, autocomplete: "first_name", class:'form-control shadow-sm'  %>
            <%= f.label :first_name, 'Ваше имя', placeholder: "Имя" %>
          </div>
        </div>

        <div class="mb-3 ">
          <div class="form-floating  ">
            <%= f.text_field :last_name, placeholder: "Фамилия", autocomplete: "last_name", class:'form-control shadow-sm'  %>
            <%= f.label :last_name, 'Ваша фамилия' %>
          </div>
        </div>
        
        <div class="mb-3">
          <div class="form-floating ">
            <%= f.select :department, [["СКУ", 1], ["КТОиСА", 2], ["Электроцех №3", 3]], { label: "Выберите подразделение:",
            wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, { class: "form-select" } %>
            <%= f.label :department, 'Подразделение' %>
          </div>     
        </div>

        <div class="mb-3">
          <div class="form-floating ">
            <%= f.select :position, [["Инженер", 1], ["Мастер", 2], ["Слесарь КИПиА", 3], ["Электромонтер", 4], ["Руководство", 5] ], { label: "Выберите должность:",
            wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, { class: "form-select" } %>
            <%= f.label :position, 'Должность' %>
          </div>     
        </div>
       
        <div class="mb-3 ">
          <div class="form-floating  ">
            <%= f.telephone_field :phone, placeholder: "Оставьте свой номер телефона", class:'form-control shadow-sm'  %>
            <%= f.label :phone, 'Номер телефона' %>
          </div>
        </div>

        <div class="mb-3 ">
          <div class="form-floating  ">
            <%= f.email_field :email, placeholder: "email", autocomplete: "email", class:'form-control shadow-sm'  %>
            <%= f.label :email, 'Ваш email' %>
          </div>
          <p class="form-text text-muted">
            Укажите свой существуйщий email, который будет использоваться для входа на сайт. (Пример: example@gmail.com)
          </p>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="mb-3 "> 
          <p class="form-text text-muted">
            Для сохранения изменений введите здесь свой текущий пароль
          </p>
          <div class="form-floating  ">
            <%= f.password_field :current_password, placeholder: "password", autocomplete: "current-password", class:'form-control shadow-sm'  %>
            <%= f.label :current_password, 'Текущий пароль' %>
          </div>
          <hr>
        </div>

        <div class="mb-3 mt-5">
        <p class="mb-2">Оставьте эти поля пустыми, если не хотите их изменять</p>
          <div class="form-floating  ">
            <%= f.password_field :password, placeholder: "Пароль", class:'form-control shadow-sm'  %>
            <%= f.label :password, 'Пароль' %>
          </div>
          <% if @minimum_password_length %>
            <p class="form-text text-muted">
              <em>Пароль должен состоять минимум из <%= @minimum_password_length %> символов </em>
            </p>
          <% end %>
        </div>

        <div class="mb-3 ">
          <div class="form-floating  ">
            <%= f.password_field :password_confirmation, placeholder: "password", class:'form-control shadow-sm'  %>
            <%= f.label :password_confirmation, 'Повторите пароль' %>
          </div>
        </div>

        <div class="mb-3">
          <%= f.submit "Сохранить" , class: "btn btn-primary", data: { turbo:false } %>
        </div>
      <% end %>

      <div class="mb-3">
        <p class="form-text">
            <%= link_to "Назад", :back %>
        </p>
      </div>

    </div>
    
    <div class="col-3 col-sm-2">
    </div>

</div>