<tr>
  <th scope="row"><%= contact.id %></th>
  <td><%= contact.first_name %></td>
  <td><%= contact.last_name %></td>
  <td><%= contact.department %></td>
  <td><%= contact.landline_phone_1 %></td>
  <td><%= contact.created_at %></td>
</tr>