<div class="container my-3">
		<div class="main-body g-2">
			<div class="row">
				<div class="col-lg-4 mb-4">
					<div class="card rounded-3 border shadow mb-3">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<%= image_tag(@user.avatar_thumbnail, size: '250x250') %>


							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 mb-4">
					<div class="card rounded-3 border shadow mb-3">
						<div class="card-body">

							<div class="row">
								<div class="col-sm-3">
									<h6 class="p-1 m-1">Полное имя:</h6>
								</div>
								<div class="col-sm-9 text-secondary align-items-center">
                  <p class="p-1 m-1"><%= @user.first_name %> <%= @user.last_name %></p>
								</div>
								
							</div>
							<hr class = "m-0">

							<div class="row mb-1">
								<div class="col-sm-3">
									<h6 class="p-1 m-1">Должность:</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<p class="p-1 m-1"><%= @user.position_text %></p>
								</div>
							</div>

							<hr class = "m-0">
							<div class="row mb-1">
								<div class="col-sm-3">
									<h6 class="p-1 m-1">Подразделение:</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<p class="p-1 m-1"><%= @user.department_text %></p>
								</div>
							</div>

							<hr class = "m-0">
							<div class="row mb-1">
								<div class="col-sm-3">
									<h6 class="p-1 m-1">Номер телефона:</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<p class="p-1 m-1"><%= @user.phone %></p>
								</div>
							</div>

							<hr class = "m-0">
							<div class="row mb-1">
								<div class="col-sm-3">
									<h6 class="p-1 m-1">Email:</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<p class="p-1 m-1"><%= @user.email %></p>
								</div>
							</div>
						
						</div>
					</div>
					<div class="row my-3">
						<div class="col-sm-12">
							<div class="card rounded-3 border shadow">
								<div class="card-body">
									<h5 class="d-flex align-items-center mb-2 text-primary-emphasis">Опубликованные руководства:</h5>
									<%= render "faqs/partial/list", faqs: @faqs%>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>