<header class="py-2 mb-2">
  <div class="container d-flex flex-wrap justify-content-center">
      <%= link_to image_tag("ps-logo.png", size: "255x55", alt: "Edit Entry"), root_path  %>
  </div>  
</header>

<nav class="navbar navbar-expand-lg mb-3">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-3 me-auto mb-2 mb-lg-0">
        <li class="nav-item">
           <%= link_to 'Руководства', faqs_path, class: 'nav-link px-2 link-body-emphasis' %>
        </li>

        <li class="nav-item">
           <%= link_to 'Оборудование', equipments_index_path, class: 'nav-link px-2 link-body-emphasis' %>
        </li>

        <li class="nav-item">
           <%= link_to 'Тел.Справочник', phonebook_contacts_path, class: 'nav-link px-2 link-body-emphasis' %>
        </li>

        <li class="nav-item">
           <%= link_to 'О проекте', pages_contact_path, class: 'nav-link px-2 link-body-emphasis' %>
        </li>


        <% if current_user&.admin_role? %>
        <li class="nav-item">
           <%= link_to 'Все пользователи', admin_users_path, class: 'nav-link px-2 link-body-emphasis' %>
        </li>
        <% end %>
      </ul>

       <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        <% if user_signed_in? %>
          <div class="dropdown-center px-3">
          <%= link_to '#',
          class: 'btn btn-success dropdown-toggle',
          data: {"bs-toggle": 'dropdown'} do %>
          <%= current_user.first_name %>
          <% end %>
            <ul class="dropdown-menu text-small">

              <li><%= link_to user_path(current_user.id), method: :get, class: 'dropdown-item' do %>
                <i class="bi bi-person-circle"></i> Профиль
              <% end %>
              </li>

              <li><%= link_to new_faq_path, method: :get, class: 'dropdown-item' do %>
                <i class="bi bi-pencil-square"></i> Добавить руководство
              <% end %>
              </li>

              <li><%= link_to edit_user_registration_path, method: :get, class: 'dropdown-item' do%>
                <i class="bi bi-gear"></i>   Редактировать
              <% end %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to destroy_user_session_path, 'data-turbo-method': :delete, class: 'dropdown-item' do %>
                <i class="bi bi-box-arrow-left"></i> Выйти
              <% end %>
              </li>
            </ul>
        </div>
        <% else %>
          <%= link_to new_user_session_path, class: "btn btn-success me-2" do %>
            <i class="bi bi-box-arrow-in-right"></i> Войти 
          <% end %>
        <% end %> 
      </div>
    </div>
  </div>
</nav>



