<header class="py-2 mb-2">
  <div class="container d-flex flex-wrap justify-content-center">
    <%= link_to image_tag("hackaton.png", size: "260x60", alt: "Logo"), root_path %>
  </div>
</header>

<nav class="navbar navbar-expand-lg mb-3">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-3 me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Главная', root_path, class: 'nav-link px-2 link-body-emphasis' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Буровые насосы', mudpumps_path, class: 'nav-link px-2 link-body-emphasis' %>
        </li>
        <li class="nav-item">
          <%= link_to 'СКПБ', das_path, class: 'nav-link px-2 link-body-emphasis' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Система верхнего привода', td_path, class: 'nav-link px-2 link-body-emphasis' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Лебёдка', drawwork_path, class: 'nav-link px-2 link-body-emphasis' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
