<tr>
  <th scope="row"><%= user.id %></th>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.email %></td>
  <td><%= user.role %></td>
  <td><%= user.created_at %></td>
  <td>
  <%= link_to 'Редактировать', edit_admin_user_path(user), class: "btn btn-sm btn-secondary" %>
  <%= link_to 'Удалить', admin_user_path(user), 'data-turbo-method': :delete, class: "btn btn-sm btn-danger" %>
  
  </td>
</tr>