<% provide :page_title, "Редактирование пользователя" %>


<h1 class="text-center">Редактирование пользователя</h1>

<div class="row">

    <div class="col-3 col-sm-2">
    </div>

    <div class="col-12 col-sm-8">
      <%= form_for([:admin, @user]) do |f| %>
      
        <%= render "users/shared/error_messages", resource: @user %>

        <div class="mb-3">
          <%= f.label :first_name, class: "form-label" %>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",
          placeholder: "Введите свое имя", class:"form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :last_name, class: "form-label" %>
          <%= f.text_field :last_name, autocomplete: "last_name", 
          placeholder: "Введите свою фамилию", class:"form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :phone, class: "form-label" %>
          <%= f.text_field :phone, autocomplete: "phone",
          placeholder: "Введите номер телефона", class:"form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :role, class: "form-label" %>
          <%= f.select :role, user_roles, { label: "Выберите роль пользователя:",
           wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, { class: "form-select" } %>
        </div>




        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autocomplete: "email",
          placeholder: "Введите свой email", class:"form-control" %>
        </div>


        <div class="mb-3">
          <%= f.submit "Изменить", class: "btn btn-primary", data: { turbo:false }%>
        </div>
      <% end %>



  </div>
  
  <div class="col-3 col-sm-2">
  </div>

</div>
